body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    height: 100vh;
    background-color: #deeff3;
}

h1 {
    margin-bottom: 20px; 
    color: #333;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

input[type="number"],
button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box; 
}

button {
    background-color: #5fb4ba;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #5fb4ba;
}

#resultado {
    margin-top: 20px;
    font-weight: bold;
    color: #333;
}
